<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/user</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Alpha@123</property>
        <!-- JDBC connection pool settings (optional) -->
        <property name="connection.pool_size">5</property>
        <property name="c3p0.acquire_increment">1</property>
        <property name="c3p0.idle_test_period">3000</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.max_statements">50</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.timeout">1800</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Echo all executed SQL to stdout (optional) -->
        <property name="show_sql">true</property>
        <!-- Mapping files (optional) -->
        <mapping class="com.pw.User"/>
        <mapping class="com.pw.Address"/>
    </session-factory>
</hibernate-configuration>
